@import 'src/assets/scss/vars';
@import 'src/assets/scss/color-palette';

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

svg {
    overflow: visible;
}

html, body {
    background-color: map-get($active-theme, silk);
}

// https://github.com/zeit/next.js/issues/5291
main {
    padding: 10px;
    margin: $navbar-height 120px 0px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $mobile-breakpoint) {
    main {
        margin: $navbar-height 20px 0px 20px;
    }
}