@import 'src/assets/scss/color-palette';
@import 'src/assets/scss/vars';

.card {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    text-decoration: none;
    border-radius:5px;
    max-height: 200px;
    max-width: 800px;
    width: 100%;
    box-shadow:0px 4px 18px rgba(0,0,0,0.1);
    background-color: white;
    transition: all 0.2s ease;
    padding: 20px;
    &:hover {
        transform: translateY(-1px);
        box-shadow:0px 4px 18px rgba(0,0,0,0.2);
    }
}

.image {
    width: 10%;
    height: 60%;
    border-radius: 5px 5px 0 0;
    object-fit: contain;
    display: block;
}

.fact {
    font-size: 16px;
    padding: 0px 18px 18px 18px;
    overflow-x: hidden;
}

.ul {
    list-style-type: none;
    align-self: start;
    display: flex;
    padding: 0;
    margin: 0;
    span {
        padding-right: 10px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .fact {
        font-size: 16px;
    }
    
    .image {
        width: 20%;
    }
    .card {
        padding: 20px;
        max-height: none;
        max-width: none;
    }
}