@import 'src/assets/scss/vars';
@import 'src/assets/scss/color-palette';

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    background: map-get($active-theme, primary-color);

    section {
        display: flex;
        padding: 0 10px;
    }

    .header {
        justify-content: space-between;
        height: 100%;
        align-items: center;
        height: $navbar-height-mobile;
    }

    .content {
        display: none;
    }

    &.open {
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
}