@import 'src/assets/scss/color-palette';
@import 'src/assets/scss/vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($active-theme , silk );
    margin-top: $navbar-height;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    img{
        width: 15vw;
        object-fit: cover;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 40vw;
        }
        h1 {
            text-align: center;
        }
    }
}