@import 'src/assets/scss/color-palette';
@import 'src/assets/scss/vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-color: map-get($active-theme , silk );
    margin-top: $navbar-height;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    img{
        width: 15vw;
    }
}